nav{
    height: 400px;
    width: 100px;
    background: green;
    float: left;
    color: white;
}
main{
    background: yellow;
    height: 400px;

}
footer{
    background: blue;
    color: white;
}
article{
    background: white;
    margin-left: 150px;
    margin-right: 50px;
}
body{
    background: silver;
}
header{
    background: red;
    margin: 25px 5px;
    color: white;
        
}